@media (width <=768px) {

  .footer_container {
    margin-top: 200%;
  }

  .card_container {

    flex-direction: column;
    margin-top: 150%;
  }

  .card {
    min-height: 90%;
  }

  .main_container {
    padding: 20px;
    text-align: center;
  }

  .main_container p {
    width: 100%;
  }

  #flecha {
    margin: 30px;
  }


}